/EG2.java
/EG2TokenManager.java
/EG2Constants.java
/EG2TreeConstants.java
/JJTEG2State.java
/MyNewGrammar.jj
/Node.java
/ParseException.java
/SimpleCharStream.java
/SimpleNode.java
/Token.java
/TokenMgrError.java
/invariants.jj
